p {
    color: blueviolet;
}

h1 {
    color: green;
    font-size: 100px;
}

body {
    background-color: rgb(37, 35, 35);
    text-align: center;
}

header {
    background-color: rgb(58, 57, 57);
}
.hola-mundo {
    color: hotpink;
    font-size: 50px;
}

#lugar {
    background-color: sandybrown;
    font-size: 20px;
    color: whitesmoke;
}