@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 100px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 14px;
}


@media only screen and (max-width: 600px){
    .logo{
        width: 60px;
    }
    header{
        flex-direction: column;
        flex-wrap: wrap;
    }
    nav{
        margin-top: 10px;
    }
}