body {
    text-align: center;
}
div {
    
    width: 1000px;
    height: 1000px;
    background-color: rgb(58, 72, 102);
    
}

h1 {
    margin: 30px 0 20px 0;
    color: white;
    font-size: 50px;
}

img {
    width: 400px;
    height: 200px;
    border-radius: 25px;
    border: 10px solid white;
}

#poema {
    padding: 20px 0 10px 0;
    border: 1px solid blue;
    color: white;
    font-size: 35px;
}

#ciudad {
    background-color: rgb(19, 30, 80);
    color: white;
    font-size: 20px;
}

