#girar {
    height: 250px;
    width: 250px;
    background-color: blue;
    color: white;
    font-size: 30px;
    font-weight: bold;

    transform: rotate(45deg);
}

#torcer {
    height: 250px;
    width: 250px;
    background-color: red;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transform: skewY(20deg);
}