:root {
   --colorBoton: #F8F9FA;
   --caja-flexible: flex;
   --horizontal: row;
}
* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}
html {
   background-color: #333;
}

header {
   display: var(--caja-flexible);
   flex-direction: var(--horizontal);
   position: static;
   width: 100%;
   height: 60px;
   justify-content: flex-end;
   align-items: center;
   padding: 6px 0;
}
.element {
   display: var(--caja-flexible);
   flex-direction: var(--horizontal);
   padding: 4px;
   align-items: center;
}
#user {
   width: 32px;
   border-radius: 50%;
   margin: 0 16px 0 8px;
}

#menu {
   width: 16px;
   margin: 8px 2px;
   filter: invert(90%) sepia(69%) saturate(0%) hue-rotate(8deg) brightness(108%) contrast(101%);
}
.text {
   font-size: 13px;
   padding: 3px 16px 3px 0;
   filter: invert(90%) sepia(69%) saturate(0%) hue-rotate(8deg) brightness(108%) contrast(101%);
   color: #333;
}

#logo-container {
   text-align: center;
   margin-top: 130px;
}

#logo {
   width: 300px;
}

#searcher {
   display: var(--caja-flexible);
   flex-direction: var(--horizontal);
   height: 44px;
   width: 582px;
   padding: 0 8px 0 14px;
   border: 0.5px solid rgba(197, 191, 191, 0.5);
   justify-content: space-between;
   align-items: center;
   border-radius: 25px;
}
#lupa {
   width: 15px;
   padding: 0 20px 0 0;
   filter: invert(90%) sepia(69%) saturate(0%) hue-rotate(8deg) brightness(108%) contrast(101%);
}
#mic {
   width: 20px;
   padding: 0 8px;
   filter: invert(90%) sepia(69%) saturate(0%) hue-rotate(8deg) brightness(108%) contrast(101%);
}
#main-container {
   display: var(--caja-flexible);
   flex-direction: column;
   align-items: center;
   padding: 20px;
}
#input {
   height: 34px;
   display: var(--caja-flexible);
   flex-direction: var(--horizontal);
   flex: 100%;
   border: none;
   outline: none;
   font-size: 16px;
   background-color: #333;
   color: white;
   
}
#botones {
   display: var(--caja-flexible);
   flex-direction: var(--horizontal);
   align-items: center;
   align-content: center;
   padding-top: 18px;
}
.boton {
   display: var(--caja-flexible);
   flex-direction: var(--horizontal);
   border: 1px solid rgb(72, 73, 73);
   border-radius: 4px;
   background-color: rgb(72, 73, 73);
   color: rgba(255, 255, 255, 1);
   font-size: 14px;
   margin: 11px 8px;
   padding: 0 16px;
   height: 36px;
   min-width: 54px;
   text-align: center;
   align-items: center;
}

#idioma {
   font-size: 13px;
   padding-top: 20px;
   color: white;
}
#idioma > a {
   padding: 0 3px;
   text-decoration-line: none;
   color: #4285F4;
}

footer {
   display: var(--caja-flexible);
   position: fixed;
   flex-direction: column;
   width: 100%;
   bottom: 0px;
   left: 0px;
   font-size: 14px;
   background-color: #f2f2f2;
   background-color: rgb(72, 73, 73);
}

#pais {
   padding: 15px 30px;
   color: rgba(0, 0, 0, 0.6);
   color: rgba(255, 255, 255, 0.6);
   border-bottom: rgba(197, 191, 191, 0.5) 1px solid;
   font-size: 15px;
}

#footer-nav {
   display: var(--caja-flexible);
   flex-direction: var(--horizontal);
   flex-wrap: wrap;
   color: rgba(0, 0, 0, 0.6);
   color: rgba(255, 255, 255, 0.6);
   justify-content: space-between;
   padding: 0 20px;
}
.footer-bloque {
   display: var(--caja-flexible);
   flex-direction: var(--horizontal);
}

.footer-element {
   padding: 15px;
   cursor: pointer;
}
